/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  restrict width  */
.restrict {
  display:block;
  margin:0px auto;
  max-width:1000px;
}

/*  GRID OF TWELVE  */
.large-12 {
  float:left;
	width: 100%;

}

.large-11 {
    float:left;
  	width: 91.63%;

}
.large-10 {
    float:left;
  	width: 83.3%;

}

.large-9 {
    float:left;
  	width: 74.97%;

}

.large-8 {
    float:left;
  	width: 66.64%;

}

.large-7 {
    float:left;
  	width: 58.31%;

}

.large-6 {
    float:left;
  	width: 50%;

}

.large-5 {
    float:left;
    width: 41.65%;

}

.large-4{
    float:left;
  	width: 33.33%;

}
.large-3 {
    float:left;
  	width: 25%;

}

.large-2 {
    float:left;
  	width: 16.66%;

}

.large-1 {
    float:left;
  	width: 8.33%;
}

$medium-screen:768px;
$navbreak:660px;
$small-screen:480px;

@media only screen and (max-width: $medium-screen) {
.medium-12 {
  float:left;
  width: 100%;

}

.medium-11 {
    float:left;
    width: 91.63%;

}
.medium-10 {
    float:left;
    width: 83.3%;

}

.medium-9 {
    float:left;
    width: 74.97%;

}

.medium-8 {
    float:left;
    width: 66.64%;

}

.medium-7 {
    float:left;
    width: 58.31%;

}

.medium-6 {
    float:left;
    width: 50%;

}

.medium-5 {
    float:left;
    width: 41.65%;

}

.medium-4{
    float:left;
    width: 33.33%;

}
.medium-3 {
    float:left;
    width: 25%;

}

.medium-2 {
    float:left;
    width: 16.66%;

}

.medium-1 {
    float:left;
    width: 8.33%;
}
}

@media only screen and (max-width: $small-screen) {
.small-12 {
  float:left;
  width: 100%;

}

.small-11 {
    float:left;
    width: 91.63%;

}
.small-10 {
    float:left;
    width: 83.3%;

}

.small-9 {
    float:left;
    width: 74.97%;

}

.small-8 {
    float:left;
    width: 66.64%;

}

.small-7 {
    float:left;
    width: 58.31%;

}

.small-6 {
    float:left;
    width: 50%;

}

.small-5 {
    float:left;
    width: 41.65%;

}

.small-4{
    float:left;
    width: 33.33%;

}
.small-3 {
    float:left;
    width: 25%;

}

.small-2 {
    float:left;
    width: 16.66%;

}

.small-1 {
    float:left;
    width: 8.33%;
}
}