//All Buttons

//Main CTA

.main-cta {
	align-self: center;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position: relative;
	cursor: pointer;
	width: auto;
	background: $spc-red;
	color: $spc-white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 20px 20px;
	border-radius: $spc-border-radius;
	transition: all 0.2s ease-in;
	span {
		font-size: 15px;
		margin:4px 0px 0px 15px;
	}
	&:hover{
		background: darken($spc-red, 30%);
		color: $spc-white;
		span{
			right: 10px;
			margin:4px 0px 0px 25px;
		}
	}
}