//All Buttons

//Main CTA

.main-cta, input[type='submit'] {
	align-self:flex-start;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position: relative;
	cursor: pointer;
	width: auto;
	background: $spc-red;
	color: $spc-white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 15px 20px;
	border:none;
	border-radius: $spc-border-radius;
	transition: all 0.2s ease-in;
	font-family:$font-regular;
	span {
		font-size: 15px;
		margin:4px 0px 0px 15px;
	}
	&:hover{
		background: darken($spc-red, 30%);
		color: $spc-white;
		span{
			right: 10px;
			margin:4px 0px 0px 25px;
		}
	}
}