//All Buttons

//Main CTA

.main-cta {
	align-self: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: auto;
	background: $spc-red;
	color: $spc-white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 18px 55px 18px 25px;
	border-radius: $spc-border-radius;
	&:after {
		display: block;
		position: absolute;
		right: 20px;
		font-size: 14px;
		top: 38%;
		font-family: spc-icons;
		content: "r";
		text-transform: lowercase;
		transition: all 0.2s ease-in;
	}
	&:hover{
		background: darken($spc-red, 30%);
		color: $spc-white;
		&:after {
			right: 10px;
		}
	}
}