//homepage styling

//homepage banner

.homepage-banner {
	padding: 20px 20px 20px;
	background: url('../imgs/homepage-banner.jpg') $spc-darkblue;
	background-size: cover;
	background-position: center;
	h1{
		padding: 0px 0px 0px;
		filter: drop-shadow( 1px 1px 4px $spc-darkblue );
		img{
			width: 200px;
			color: $spc-white;
		}
		span {
			display: none;
		}
	}
	h2, p {
		text-shadow: 1px 1px 4px $spc-darkblue;
		margin: 0px 0px 30px;
	}
}



