//main style sheet
html {
	height: 100%;
}

body {
	background: $spc-white;
	color: $spc-darkblue;
	font-family:$font-light;
	height: 100%;
}

body * {
	transition: all 0.2s ease-in;
}

.hidden {
	display: none;
}

.noscroll {
	overflow: none;
}

//main font use
::selection {
	background: $spc-lightblue;
	color: #fff; 

}
p {
	font-family:$font-light;
	font-size: 18px;
	color: $spc-darkblue;
	line-height: 24px;
	margin: 0px 0px 40px;
	small {
		font-size: 12px;
	}
	&.quote {
		color:$spc-lightblue;
		font-style: italic;
		font-size: 24px;
		line-height: 32px;
	}
}

h1 {
	font-family: $font-heavy;
	font-size: 50px;
	color: $spc-darkblue;
	line-height: 60px;
	margin: 10px 0px 10px;
}

h2  {
	font-family: $font-heavy;
	font-size: 35px;
	color: $spc-darkblue;
	line-height: 45px;
	margin: 10px 0px 20px;
}
a {
	color: $spc-darkblue;
	text-decoration: none;
	&:hover{
		color: $spc-red;
	}
}

//General Layout Settings

section {
	display: flex;
	flex-direction: column;
	padding: 60px 20px;
	text-align: center;
	ul{
	padding:0px;
	margin:20px 0px 40px 60px;
	column-count: 1;
	li{
		display: flex;
		flex-direction: row;
		padding:5px;
		text-align: left;
		span {
			margin: 0px 20px 0px 0px;
		}
	}
}
}

.section-blue {
	background: $spc-darkblue;
	p,a,h1,h2,ul,li{
	color: $spc-white;
	}
}

//banners

.content-banner {
	padding:60px 0px 0px;
	h2{
		margin:30px 0px 10px;
		text-shadow: 1px 1px 4px $spc-darkblue;
	}
}

.page-description {
	display:flex;
	flex-direction:column;
	background:rgba(21,33,45,0.3);
	padding:20px 20px 20px;
	p{
		margin:0px 0px 20px;
		text-shadow: 1px 1px 4px $spc-darkblue;
	}
	a{
		position: absolute;
    right: 50px;
    left: 50px;
	}
}

//portal images

.portal {
	border-radius: 50%;
	width: 195px;
	height: 195px;
	align-self: center;
}

.portal-collection{
	display:flex;
	flex-direction:row;
	position:relative;
	padding: 20px 0px 20px;
	justify-content:center;
	.portal{
		width: 33.3%;
		height: 33.3%;
		max-width: 195px;
		max-height: 195px;
	}
	:nth-child(2){
			z-index: 2;
			margin-left: -50px;
		}
		:nth-child(3){
			z-index: 3;
			margin-left: -50px;
		}
}



//contact bar

.nav-social {
	a{
		font-family: spc-icons;
		&:hover {
			color: $spc-red;
		}
		span {
			display: none;
		}	
	}
	.tw:after{
		content: 't';
	}
	.fb:after{
		content: 'f';
	}
	.vm:after{
		content: 'v';
	}
	.yt:after{
		content: 'y';
	}
}

//contact bar 

.contact-bar {
	display: flex;
	flex-direction: column;
	padding:20px 20px;
	a.link-icon{
		display: flex;
		flex-direction: row;
		padding: 4px 0px 4px;
		span{
			color: $spc-red;
			padding-right: 10px;
		}
	}
	.nav-social ul{
		display: flex;
		flex-direction: row;
		align-self: center;
		width: auto;
		margin: 0px;
		a{
			display: block;
			padding: 10px 10px 0px 0px;
		}
	}

}

//footer 

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px 0px;
	p{
		margin: 0px;
	}
}
