//main navigation menu


//main bar

.nav-bar{
  height:80px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding:15px;
  background:$spc-white;
    //medium screen upwards
    @include bp-medium {
        align-items:stretch;
        padding:0px 20px;
    } 
    //large screen upwards
    @include bp-large {
        padding:0px 80px;
    } 
  h1{
    margin:0px;
    line-height:0px;
    display: flex;
    align-items: center;
  }

  .nav-social {
    display: flex;
    flex-direction: row;
    justify-content:center;
    @include font-size(20px);
    border-top: 1px solid $spc-grey;
    border-bottom: 1px solid $spc-grey;
    position:relative;
    min-height:80px;
    ul{
      display: flex;
      flex-direction: row;
      align-items:center;
      li{
        display:flex;
      }
    }
    a{
      padding: 15px;
      //medium screen upwards
      @include bp-medium {
          padding:15px 10px;
      }
    }
  }
  .social-home{
    border:none;
  }
} 

//fix main nav at the top for desktop

.fixed-nav-desktop{
//medium screen upwards
    @include bp-medium {
      position: fixed;
      width: 100%;
      z-index: 99999;
      box-shadow: 1px 1px 8px $spc-darkblue;
    } 
}

//logo

.nav-logo {
  #spc-logo{
    fill:$spc-darkblue;
    width:100px;
    transition:all 0.1s ease-in-out;
    //medium screen upwards
      @include bp-medium {
         width:120px;
      }
    &:hover{
      fill:$spc-red;
    }
  }
  span{
    display:none;
  }
}

//container for mobile drop down

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  @include font-size(12px);
  z-index: 50;
  background: $spc-white;
  top:-200%;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  //medium screen upwards
    @include bp-medium {
      flex-direction:row;
      position: static;
      overflow:visible;
      width:auto;
      height:auto;
    } 
    .nav-social{
    //medium screen upwards
    @include bp-medium {
      display:none;
    }

    }
}

//added to nav-container to show mobile menu
.show-menu {
  top:0;
}


//burger icon - menu controller

.menu {
  display:flex;
  position:fixed;
  z-index:9999;
  top:23px;
  right:20px;
  cursor: pointer;
  @include font-size(25px);
  font-family: spc-icons;
  background: $spc-white;
  padding: 5px;
  border-radius: $spc-border-radius;
  margin-left:auto;
  transition:0.2s all ease-in;
  //medium screen upwards
    @include bp-medium {
      display:none;
    } 
  &:hover{
    color: $spc-red;
  }
  &:visited, &:active{
    color: $spc-red;
  }
  span{
    display: none;
  }
}


.fix-me{
  position: fixed;
  box-shadow: 0px 0px 8px #15212d;
  right: 20px;
}

.mob-on {
  position: fixed;
  right:20px;
  box-shadow :none;
  background-color: #fc4349;
  color: white!important;
}


//close button which appears on mobile drop menu

// .mobile-menu {
//   display: flex;
//   position:absolute;
//   right:8px;
//   top:15px;
//   cursor: pointer;
//   @include font-size(20px);
// }

//Back to the Top -  button

.spc-top {
  display: block;
  position:fixed;
  z-index:9999;
  bottom:-125px;
  right:20px;
  cursor: pointer;
  @include font-size(25px);
  font-family: spc-icons;
  background: $spc-white;
  padding: 5px;
  border-radius: $spc-border-radius;
  transition:0.2s all ease-in;
  &:hover{
    color: $spc-red;
  }
  &:visited, &:active{
    color: $spc-darkblue;
  }
  span{
    display:none;
  }
}

.on {
  bottom:25px;
  box-shadow: 0px 0px 8px #15212d;
}


//main navigation

.nav-main {
  display:flex;
  flex-direction: column;
  //medium screen upwards
    @include bp-medium {
      flex-direction:row;
    } 
  ul,li{
    //medium screen upwards
    @include bp-medium {
      display:flex;
      flex-direction:row;
    } 
  }
  a {
    display: block;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid $spc-grey;
    @include font-size(20px);
    transition:0.2s all ease-in-out;
    //medium screen upwards
    @include bp-medium {
      padding: 35px 0px 0px;
      margin:0px 8px;
      border:none;
      @include font-size(14px);
    } 
    //large screen upwards
    @include bp-large {
      margin:0px 12px;
    }
    &.selected{
      background:$spc-red;
      color: $spc-white;
      //medium screen upwards
      @include bp-medium {
        background:$spc-white;
        color:$spc-darkblue;
        border-bottom:5px $spc-red solid;
      }
    }
    &:hover{
      //medium screen upwards
      @include bp-medium {
        background:$spc-white;
        color:$spc-darkblue;
        border-bottom:5px $spc-red solid;
      }
    }
  }
}

